* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .5s ease;
  z-index: 100;
}
.cloud1, .cloud2, .cloud3 {
  height: 100px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: cloud 3s ease infinite;
}
.cloud2 {
  top: 50%;
  transform: translate(100%, -50%);
  animation: cloud 3s ease infinite 2s;
}
.cloud3 {
  top: 70%;
  transform: translate(100%, -75%);
  animation: cloud 3s ease infinite 1s;
}
.airplane {
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}
.preload h3 {
  position: absolute;
  top: 75%;
  transform: translate(0,-75%);
  color: white;
  font-size: 40px;

}
.preload-finished {
  opacity: 0;
  pointer-events: none;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}
section img {
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

@keyframes airplane {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes cloud {
  from {
    right: 0;
  }
  to {
    right: 130%;
  }
}